@model MVCWebAppServierCon.Models.GeneralPreferenceClass

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GeneralPreferenceClass</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="code" />

            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="QouteAmount" class="control-label"></label>
                    <input asp-for="QouteAmount" class="form-control" />
                    <span asp-validation-for="QouteAmount" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="DeductionAmount" class="control-label"></label>
                    <input asp-for="DeductionAmount" class="form-control" />
                    <span asp-validation-for="DeductionAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2">
                    <label asp-for="ConnecWith">Database</label><br>

                    <input id="finpack" type="radio" asp-for="ConnecWith" value="finpack">
                    <label for="finpack">finpack</label><br>

                    <input id="audit" type="radio" asp-for="ConnecWith" value="audit">
                    <label for="audit">audit</label><br>

                    <span asp-validation-for="ConnecWith" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="Show_Unit"></label><br>

                    <input id="trueShow_Unit" type="radio" asp-for="Show_Unit" value="true">
                    <label for="trueShow_Unit">true</label><br>

                    <input id="falseShow_Unit" type="radio" asp-for="Show_Unit" value="false">
                    <label for="falseShow_Unit">false</label><br>

                    <span asp-validation-for="Show_Unit" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="Show_Doner2"></label><br>

                    <input id="trueShow_Doner2" type="radio" asp-for="Show_Doner2" value="true">
                    <label for="trueShow_Doner2">true</label><br>

                    <input id="falseShow_Doner2" type="radio" asp-for="Show_Doner2" value="false">
                    <label for="falseShow_Doner2">false</label><br>

                    <span asp-validation-for="Show_Doner2" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="Show_cost3"></label><br>

                    <input id="trueShow_cost3" type="radio" asp-for="Show_cost3" value="true">
                    <label for="trueShow_cost3">true</label><br>

                    <input id="falseShow_cost3" type="radio" asp-for="Show_cost3" value="false">
                    <label for="falseShow_cost3">false</label><br>

                    <span asp-validation-for="Show_cost3" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="Show_cost4"></label><br>

                    <input id="trueShow_cost4" type="radio" asp-for="Show_cost4" value="true">
                    <label for="trueShow_cost4">true</label><br>

                    <input id="falseShow_cost4" type="radio" asp-for="Show_cost4" value="false">
                    <label for="falseShow_cost4">false</label><br>

                    <span asp-validation-for="Show_cost4" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-2">
                    <label asp-for="Show_Order_Type"></label><br>

                    <input id="trueShow_Order_Type" type="radio" asp-for="Show_Order_Type" value="true">
                    <label for="trueShow_Order_Type">true</label><br>

                    <input id="falseShow_Order_Type" type="radio" asp-for="Show_Order_Type" value="false">
                    <label for="falseShow_Order_Type">false</label><br>

                    <span asp-validation-for="Show_Order_Type" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-2">
                    <label asp-for="Show_ToDate"></label><br>

                    <input id="trueShow_ToDate" type="radio" asp-for="Show_ToDate" value="true">
                    <label for="trueShow_ToDate">true</label><br>

                    <input id="falseShow_ToDate" type="radio" asp-for="Show_ToDate" value="false">
                    <label for="falseShow_ToDate">false</label><br>

                    <span asp-validation-for="Show_ToDate" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-2">
                    <label asp-for="Show_ToEmployee"></label><br>

                    <input id="trueShow_ToEmployee" type="radio" asp-for="Show_ToEmployee" value="true">
                    <label for="trueShow_ToEmployee">true</label><br>

                    <input id="falseShow_ToEmployee" type="radio" asp-for="Show_ToEmployee" value="false">
                    <label for="falseShow_ToEmployee">false</label><br>

                    <span asp-validation-for="Show_ToEmployee" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-2">
                    <label asp-for="Show_Currency_with_item"></label><br>

                    <input id="trueShow_Currency_with_item" type="radio" asp-for="Show_Currency_with_item" value="true">
                    <label for="trueShow_Currency_with_item">true</label><br>

                    <input id="falseShow_Currency_with_item" type="radio" asp-for="Show_Currency_with_item" value="false">
                    <label for="falseShow_Currency_with_item">false</label><br>

                    <span asp-validation-for="Show_Currency_with_item" class="text-danger"></span>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="ActivitiyTable" class="control-label"></label>
                    <input asp-for="ActivitiyTable" class="form-control" />
                    <span asp-validation-for="ActivitiyTable" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="ProjectTable" class="control-label"></label>
                    <input asp-for="ProjectTable" class="form-control" />
                    <span asp-validation-for="ProjectTable" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Display_Name_Activityt" class="control-label"></label>
                    <input asp-for="Display_Name_Activityt" class="form-control" />
                    <span asp-validation-for="Display_Name_Activityt" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Display_Name_Project" class="control-label"></label>
                    <input asp-for="Display_Name_Project" class="form-control" />
                    <span asp-validation-for="Display_Name_Project" class="text-danger"></span>
                </div>
            </div>

            <div class="row" style="    padding-left: 10px;">
                <div class="form-group input_group_style col-sm-6" style="margin-bottom:15px; margin-top:0; padding-left:0;">
                    <label class="control-label"> Company Logo</label>
                    <div class="custom-file">
                        <input asp-for="Logo_Files" id="logo_input" type="file" class="form-control custom-file-input" />
                        <label id="logo_input_label" class="custom-file-label" style="overflow: hidden;">Choose File ...</label>
                        <span id="logo_error_element" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Company_Name" class="control-label"></label>
                    <input asp-for="Company_Name" class="form-control" placeholder="type Company Name here ..." />
                    <span asp-validation-for="Company_Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="link_view_name" class="control-label"></label>
                <input asp-for="link_view_name" class="form-control" placeholder="type link view name here ..." />
                <span asp-validation-for="link_view_name" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Display_Name_Doner2" class="control-label"></label>
                    <input asp-for="Display_Name_Doner2" class="form-control" placeholder="type Name here ..." />
                    <span asp-validation-for="Display_Name_Doner2" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Table_Name_Doner2" class="control-label"></label>
                    <input asp-for="Table_Name_Doner2" class="form-control" placeholder="type Name here ..." />
                    <span asp-validation-for="Table_Name_Doner2" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Display_Name_cost3" class="control-label"></label>
                    <input asp-for="Display_Name_cost3" class="form-control" placeholder="type Name here ..." />
                    <span asp-validation-for="Display_Name_cost3" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Table_Name_cost3" class="control-label"></label>
                    <input asp-for="Table_Name_cost3" class="form-control" placeholder="type Name here ..." />
                    <span asp-validation-for="Table_Name_cost3" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Display_Name_cost4" class="control-label"></label>
                    <input asp-for="Display_Name_cost4" class="form-control" placeholder="type Name here ..." />
                    <span asp-validation-for="Display_Name_cost4" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Table_Name_cost4" class="control-label"></label>
                    <input asp-for="Table_Name_cost4" class="form-control" placeholder="type Name here ..." />
                    <span asp-validation-for="Table_Name_cost4" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label for="basic_currency_input">Basic Currency</label>
                    <select id="basic_currency_input" class="form-control" asp-for="Basic_Currency">
                        <option selected></option>
                        @foreach (CurrencyViewModel item in ViewBag.Currency)
                        {
                            <option value="@item.currencyCode">@item.currencyName</option>
                        }
                    </select>

                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section scripts{
    <script>
        var logo_input = document.getElementById("logo_input");

        logo_input.addEventListener('change', () => {
            //set the label
            document.getElementById("logo_input_label").innerHTML = logo_input.files[0].name;
            console.log()
        })
    </script>
}