
.form_container {
    display: flex;
    justify-content: center;
}

.form_style {
    width: 39%;
}

.input_group_style {
    width: 100%;
    margin: 0;
    margin-top: 15px;
}

.form_submit_btn {
    width: 100%;
    margin-top: 14px;
}

th, td {
    text-align: center;
    vertical-align: middle;
}

.list_item {
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    box-shadow: -1px 1px 8px rgb(0 0 0 / 19%);
    border: 1px solid #d4d4d4;
    margin-bottom: 10px;
    overflow: hidden;
}