<h2>Forgot Password</h2>
<hr />
<div class="rowPage">
    <div class="col-md-12">
        <form method="post">
            <h4 class="row">
                If you have an account with us, we have sent an email
                with the instructions to reset your password.
            </h4>
        </form>
    </div>
</div>