
<h2>Reset Password</h2>
<hr />
<div class="rowPage">
    <div class="col-md-12">
        <form method="post">
            <h4>
                Your password is reset. Please click <a asp-action="Login">here to login</a>
            </h4>
        </form>
    </div>
 </div>
