@model MVCWebAppServierCon.Models.DepartmentClass

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h4 class="rowPage">Department</h4>
<h3 class="rowPage">Are you sure you want to delete this?</h3>
<div>
    <hr />


    <form asp-action="Delete" class="rowPage">
        <input type="hidden" asp-for="departmentCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
